/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/
.services .service-card {
  height: 100%;
  padding: 30px;
  background: var(--surface-color);
  border-radius: 10px;
  transition: all 0.3s ease;
}


.services .service-card:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
}

.services .service-card:hover .icon {
  color: black;
  background: linear-gradient(135deg, #F9F295, #E0AA3E, #FAF398, #B88A44);
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(255, 215, 0, 0.5), 0 0 25px rgba(255, 215, 0, 0.2);
  opacity: 0.95;
  border: none;
  outline: none;
}

.services .service-card:hover .read-more {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
}

.services .service-card .icon {
  width: 60px;
  height: 60px;
  margin-right: 30px;
  background: linear-gradient(135deg, #F9F295, #E0AA3E, #FAF398, #B88A44);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  color: var(--accent-color);
  font-size: 28px;
  transition: all 0.4s ease;
  line-height: 1;
}

.services .service-card h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #000000;

}

.services .service-card p {
  margin-bottom: 25px;
  color: color-mix(in srgb, var(--default-color), transparent 25%);
  font-size: 15px;
  line-height: 1.6;
}

.services .service-card .read-more {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  color: var(--accent-color);
  font-weight: 500;
  transition: all 0.3s ease;
}

.services .service-card .read-more i {
  font-size: 14px;
  transition: transform 0.3s ease;
}

.services .service-card .read-more:hover i {
  transform: translateX(5px);
}
